/*-------------Media Querries-----------------*/
@media only screen and (max-width:1200px) {}

@media only screen and (max-width:767px) {}

@media only screen and (max-width:480px) {}

@media only screen and (max-width:375px) {}

/*------------- 1024px -----------------*/
@media only screen and (max-width:1024px) {}

/*------------- 991px -----------------*/
@media only screen and (max-width:992px) {}

/*------------- 767px -----------------*/
@media only screen and (max-width:767px) {
    .comparison table {
        table-layout: auto;
    }

    .container {
        max-width: 100%;
    }
}

/*------------- 660px -----------------*/
@media only screen and (max-width:640px) {

    .comparison td,
    .comparison th {
        padding: 10px 5px;
    }

    .comparison .planheading,
    .comparison .featured {
        font-size: 11px;
        padding: 10px 4px;
    }

    .compare-heading {
        font-size: 13px;
    }
}

/*------------- 480px -----------------*/
@media only screen and (max-width:480px) {}

/*------------- 425px -----------------*/
@media only screen and (max-width:425px) {}

/*------------- 330px -----------------*/
@media only screen and (max-width:330px) {}