$blackcolor: #000;
$whitecolor: #fff;
$smokewhite: #F9F9F9;
$graybgcolor: #ECECF4;
$purplethemecolor: #7C20E4;
$themecolor: #0D717A;
$darkgraycolor: #2F281E;
$bluecolordark: #05163B;
$footerbgcolor: #10141E;
$yellowcolor: #FFDF00;
$bordercolor: #EDEDED;
$greeenbordercolor: #0D717A;


$bgcolorlightblue: #F3FFFA;
$footercolor: #535B6C;
$baseFontSize: 16;